<div class="spruce-banner tablet-display-block display-none">
  <div class="position-relative grid-row flex-align-center flex-justify-center">
    <img src="/themes/custom/spruce/images/abstractGreenLg.png" class="width-viewport" role="presentation" width="1920">
    <div class="width-45 position-absolute">
      <div class="display-grid grid-areas-6 align-center gap-10" id="logo">
        <div class="area-logo site-logo">
          <img width="400" src="/themes/custom/spruce/images/logo.png" alt="{{ 'SPRUCE Logo'|t }}" class="border-05 border-primary radius-logo">
        </div>
        <div class="area-text text-primary display-flex flex-column">
          <div class="line-height-serif-2 font-serif-xs desktop-font-serif-lg desktop-lg-font-serif-xl">{{ site_slogan }}</div>
        </div>
      </div>
    </div>
  </div>
</div>