<div class="bg-primary">
  <div class="grid-container">
    <div class="grid-row flex-justify-center">
      <p class="margin-y-205 text-white">
        <a rel="noopener" href="https://www.ornl.gov/" target="_blank" class="text-bold text-white hover-text-base-lighter text-no-underline">Oak Ridge National Laboratory</a> is managed by
        <a rel="noopener" href="https://www.ut-battelle.org/" target="_blank" class="text-bold text-white hover-text-base-lighter text-no-underline">UT-Battelle LLC</a> for the
        <a rel="noopener" href="https://energy.gov/" target="_blank" class="text-bold text-white hover-text-base-lighter text-no-underline">US Department of Energy</a>
      </p>
    </div>
  </div>
</div>
<div class="usa-footer__secondary-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="usa-footer__logo grid-row mobile-lg-grid-col-6 mobile-lg-grid-gap-2">
        <div class="mobile-lg-grid-col-auto"><img class="minw-15" src="/themes/custom/spruce/images/ut-battelle.png" alt="UT-Battelle LLC logo" /></div>
        <div class="mobile-lg-grid-col-auto">
          <p class="usa-footer__logo-heading"><a rel="noopener" href="https://ut-battelle.org/" target="_blank" class="text-no-underline">UT-Battelle LLC</a></p>
        </div>
      </div>
      <div class="usa-footer__contact-links mobile-lg-grid-col-6">
        <div class="usa-footer__social-links grid-row grid-gap-1">
          <div class="grid-col-auto">
            <a class="usa-social-link usa-social-link--facebook" href="https://www.facebook.com/Oak.Ridge.National.Laboratory/">
              <span>Facebook</span>
            </a>
          </div>
          <div class="grid-col-auto">
            <a class="usa-social-link usa-social-link--twitter" href="https://twitter.com/ORNL">
              <span>Twitter</span>
            </a>
          </div>
          <div class="grid-col-auto">
            <a class="usa-social-link usa-social-link--youtube" href="https://www.youtube.com/channel/UCmXb5EVu1Zmi02Lcv1LAf4w">
              <span>YouTube</span>
            </a>
          </div>
          <div class="grid-col-auto">
            <a class="usa-social-link usa-social-link--instagram" href="https://www.instagram.com/oakridgelab">
              <span>Instagram</span>
            </a>
          </div>
        </div>
        <h3 class="usa-footer__contact-heading"><a rel="noopener" href="https://www.ornl.gov/" target="_blank" class="text-no-underline">Oak Ridge National Laboratory</a></h3>
        <address class="usa-footer__address">
          <div class="usa-footer__contact-info grid-row grid-gap">
            <div class="grid-col-auto"><a href="tel:1-865-576-7658">(865) 576-7658</a></div>
            <div class="grid-col-auto"><a href="mailto:info@ornl.gov">info@ornl.gov</a></div>
          </div>
        </address>
      </div>
    </div>
  </div>
</div>
