<div class="usa-identifier">
    <section class="usa-identifier__section usa-identifier__section--masthead">
        <div class="usa-identifier__container">
            <div class="usa-identifier__logos">
                <a rel="noopener" href="https://www.energy.gov/science/office-science" class="usa-identifier__logo">
                    <img width="202" height="201" class="usa-identifier__logo-img" src="/themes/custom/spruce/images/doe-logo.png" alt="U.S. Department of Energy logo" />
                </a>
                <a rel="noopener" href="http://www.fs.fed.us" class="usa-identifier__logo">
                    <img width="280" height="289" class="usa-identifier__logo-img" src="/themes/custom/spruce/images/forestService.png" alt="USDA Forest Service logo" />
                </a>
            </div>
            <div class="usa-identifier__identity">
                <p class="usa-identifier__identity-domain">mnspruce.ornl.gov</p>
                <p class="usa-identifier__identity-disclaimer">
                    An official website of the <a rel="noopener" href="https://energy.gov/" target="_blank">U.S. Department of Energy</a> and the <a rel="noopener" href="http://www.fs.fed.us/" target="_blank">USDA Forest Service</a>
                </p>
            </div>
        </div>
    </section>
    <nav class="usa-identifier__section usa-identifier__section--required-links">
        <div class="usa-identifier__container">
            <ul class="usa-identifier__required-links-list">
                <li class="usa-identifier__required-links-item"><a rel="noopener" href="https://www.ornl.gov/ornl/contact-us/Security--Privacy-Notice" class="usa-identifier__required-link">Privacy Policy</a></li>
                <li class="usa-identifier__required-links-item"><a rel="noopener" href="https://www.ornl.gov/content/accessibility" class="usa-identifier__required-link">Accessibility/508</a></li>
                <li class="usa-identifier__required-links-item">
                    <a rel="noopener" href="https://www.ornl.gov/content/notice-nondiscrimination-and-accessibility-requirements" class="usa-identifier__required-link">Nondiscrimination/1557</a>
                </li>
            </ul>
        </div>
    </nav>
    <section class="usa-identifier__section usa-identifier__section--usagov">
        <div class="usa-identifier__container">
            <div class="usa-identifier__usagov-description">Looking for U.S. government information and services?</div>
            <a rel="noopener" class="usa-link" href="https://www.usa.gov/">Visit USA.gov</a>
        </div>
    </section>
</div>
